* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: -webkit-linear-gradient(to right, #363795, #005c97);
  background: linear-gradient(to right, #363795, #005c97); */
  background: #343d4b;

  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
